/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /* @import "./greetings_button.scss"; */
 @import "./modal.scss";
 @import "./login.scss";
 @import "./search_bar.scss";
 @import "./edit_review.scss";
 @import "./create_review.scss";
 @import "./single_review_box.scss";

 .header-group {
   text-align: right;
 }
 .logout-button-greeting {
   text-align: center;
 }
 .login-signup {
    
     text-align: right;
     border: black 3px;
     z-index: 1;
 }

 .login-form-container {
     text-align: center;
 }

 .top-header {
     background-color: white;
     opacity: calc(2);
     height: 40px;
 }


 .top-of-the-page {
     background-color: grey;
     height: 20px;
     opacity: .2;
 }



  
 @import "restaurant_index.scss"
