/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 @import "./greetings_button.scss";
 @import "./modal.scss";
 @import "./login.scss";
 @import "./search_bar.scss";
 @import "./edit_review.scss";
 @import "./create_review.scss";
 @import "./single_review_box.scss";

 .header-group {
   text-align: right;
 }
 .logout-button-greeting {
   text-align: center;
 }
 .login-signup {
    
     text-align: right;
     border: black 3px;
     z-index: 1;
 }

 .login-form-container {
     text-align: center;
 }

 .top-header {
     background-color: white;
     opacity: calc(2);
     height: 40px;
 }


 .top-of-the-page {
     background-color: grey;
     height: 20px;
     opacity: .2;
 }



 .login-form-container {
    z-index: 1;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-color: white;
    height: 450px;
    width: 400px;
  }
 
  .login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
 
  .login-input {
    margin-left: 20px;
  }
 
  .login-form-box {
    outline: 1px solid black;
    padding: 20px;
  }


  .logo { 
      width: 100px;
      margin-top: 8px;
    }


  .session-submit {
    margin-left: 17%;
    width: 80%;
    height: 50px;
    margin-bottom: 10px;
    background-color: #da3743;
    color: white;
    font-size: 18px;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}
  
 @import "restaurant_index.scss"
