.demo-login {
    width: 50%;
    height: 50px;
    margin-bottom: 10px;
    background-color: white;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    border: .05rem solid #d8d9db;
    cursor: pointer;
    &:hover {
        border: 2px solid #a1232c;
        transition: 200ms;
    }
}

.close-x {
    position: absolute;
    right: 25px;
    margin-top: 15px;
    cursor: pointer;
}

.login-input {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: .05rem solid #d8d9db;
    &:hover, &:focus {
        border: .05rem solid darkgray;
        outline: .05rem solid darkgray;
        transition: 200ms;
    }
}





.login-form-container {
    z-index: 1;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-color: white;
    height: 450px;
    width: 400px;
  }
 
  .login-form {
    // padding-top: 50px;
    // display: flex;
    // justify-content: center;
    // flex-direction: column;
  }
 
  .login-input {
    // margin-left: 17px;
  }
 
  .login-form-box {
    outline: 1px solid black;
    padding: 20px;
  }


  .logo { 
      width: 100px;
      margin-top: 8px;
    }


  .session-submit {
    // padding: 10px;
    margin-left: 1%;
    width: 80%;
    height: 50px;
    margin-bottom: 10px;
    background-color: #da3743;
    color: white;
    font-size: 18px;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}


.header-group {
  text-align: right;
  z-index: 2;
}
.logout-button-greeting {
  text-align: center;
  z-index: 1;
}
.login-signup {
   
    text-align: right;
    border: black 3px;
    z-index: 1;
}

.login-form-container {
    text-align: center;
}

.top-header {
    background-color: white;
    opacity: calc(2);
    height: 40px;
}


.top-of-the-page {
    background-color: grey;
    height: 20px;
    opacity: .2;
}

.login-errors {
  margin-left: -32px;
  margin-bottom: -15px;
}

.login-signup-open{
  border-radius: 5px;
  font-family: 'Commissioner', sans-serif;
  font-size: 17px;
  border: none;
  background-color: white;
  color: #da3743;
  padding: 5px;
  cursor: pointer;
}
.dont-have {
  font-family: 'Commissioner', sans-serif;
}

.login-errors {
  margin-bottom: -35px;
}