
.restaurant-index-header{
    width: 260px;
    margin-top: -1px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 28px;
}


 .restaurant-index-inside {
    margin: 20px;
    border: solid 1px lightgray;
    width: 260px; 
    height: 260px; 
    text-align: center;
    border-radius: 10px;
    position: relative;
    cursor: cursor;
    font-family: 'Overpass', sans-serif;
    animation-duration: 1s;
    animation-name: fade-in;

}

.restaurant-index-inside:hover {
    opacity: 50%;
    cursor: pointer;
    top: -5px;

}
.restaurant_index_outside {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    // margin-top: 5%;
}

@keyframes fade-in {
    0%   {opacity: 0%;}
    50%  {opacity: 0%;}
    60%  {opacity: 35%;}
    75%  {opacity: 65%;}
    100% {opacity: 100%;}
}

.image-index {
    width: 260px;
    height: 125px;
    object-fit: cover;
    
}

.link1 {
    width: 260px;
    height: 260px;
    text-decoration: none;
    color: black;
    padding: 15px;
}

.star-reviewcount {
    display: flex;
    margin-top: -14%;
    padding-left: 10px;
}

.time-button-index {
    height: 36px;
      width: 70px;
      border-radius: 5px;
      font-family: 'Commissioner', sans-serif;
      font-size: 12px;
      border: none;
      background-color: crimson;
      color: white;
      padding: 5px;
      margin-top: -10px;
      
  }

.time-button-index-container{
    padding: 5px;
    display: flex;
}
.time-buttons-index-container{
    display: flex;
    width: 200px;
}
.buffer-time-buttons {
padding-right: 9px;
}


.restaurant-index-footer {
    // width: 100%;
    min-height: 300px;
    background-color: rgb(29, 34, 76);
    margin-top: 4%;
    padding: 50px;
}



.zachs-links {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-bottom: 1px solid lightgray;
    padding-top: 50px;
    padding-bottom: 50px;

}

.zach-link-buttons {
    font-size: 100px;
    background-color: #1d224c;
    // text-decoration: none;
    border: none;
    color: white;
    font-size: 60px;
}

.zach-link-buttons:hover {
    color: crimson;
    cursor: pointer;
}

.my-name{
    color: white;
    font-size: 45px;
    font-family: 'Overpass', sans-serif;
    padding-right: 50px;

}

.important-info {
    display: flex;
   text-align: center;
    font-family: 'Overpass', sans-serif;
    font-size: 20px;
    flex-direction: column;
    color: white;
    padding: 20px;
}