
.restaurant-index-header{
    width: 260px;
}


 .restaurant-index-inside {
    margin: 20px;
    border: solid 1px lightgray;
    width: 260px; 
    height: 260px; 
    text-align: center;
    border-radius: 10px;
    position: relative;
    cursor: cursor;

}

.restaurant-index-inside:hover {
    opacity: 50%;
    cursor: pointer;
    top: -5px;

}
.restaurant_index_outside {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5%;
}

.image-index {
    width: 260px;
    height: 100px;
    object-fit: cover;
    
}

.link1 {
    width: 260px;
    height: 260px;
    text-decoration: none;
    color: black;
}