.image-restaurant-show {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.image-and-button{
  display: flex;
}
.favorite-restaurant-button {
  position: absolute;
  // margin-left: 1250px;
  margin-left: 1030px;
  margin-top: 33px;
  width: 235px;
  height: 52px;
  border-radius: 3px;
  background-color: white;
  border-color: white;
  font-family: 'Commissioner', sans-serif;
  cursor: pointer;
}

.favorite-restaurant-button:hover {
border-color: crimson;
background-color: rgb(239, 239, 239);
}

.restaurant-name {
border-bottom-style: solid;
border-bottom: 2px, black;
padding: 20px;
font-size: 45px;
font-family: 'Overpass', sans-serif;
font-weight: bolder;
}

.restaurant-description-title {
  border-bottom-style: solid;
  border-bottom: 2px, black;
  padding: 20px;
  font-family: 'Overpass', sans-serif;
}

.restaurant-menu-title {
  border-bottom-style: solid;
  border-bottom: 2px, black;
  padding: 20px;
  font-family: 'Overpass', sans-serif;
}

.restaurant-review-title {
  border-bottom-style: solid;
  border-bottom: 2px, black;
  padding: 20px;
  font-family: 'Overpass', sans-serif;
}

.restaurant-show-container {
  width: 642px;
  background-color: white;
  margin-right: 32px;
  position: absolute;
  left: 300px;
  top: 50%;
  padding: 0px 13px 17px 17px;
  box-sizing: border-box;
  border-radius: 5px;
}

.review-button {
  background-color: crimson;
  border-radius: 3px;
  height: 40px;
  width: 170px;
  color: white;
  transition: all .3s;
  border: none;
  cursor: pointer;
  font-family: 'Overpass', sans-serif;
}

.delete-button {
  background-color: crimson;
  border-radius: 3px;
  height: 25px;
  width: 50px;
  color: white;
  transition: all .3s;
  border: none;
  cursor: pointer;
}
.delete-button-container {
  text-align: right;
}

.edit-button {
  background-color: crimson;
  border-radius: 3px;
  height: 25px;
  width: 50px;
  color: white;
  transition: all .3s;
  border: none;
  cursor: pointer;
}


.review-button-container {
  padding-left: 250px;
}


.rest-navigation {

  display: flex;
  border-bottom-style: solid;
  border-bottom: 2px, black;
  font-size: 15px;
  color: rgb(80, 80, 80);
  background-color: white;
  padding-top: 17px;
  height: 32px;
  // position: sticky;
  top: 0;
  // z-index: 10;
  width: 612px;
  position: sticky;

  
  
}
.content-button {      
  margin-right: 36px;
  padding-bottom: 10px;
  color: black;
  text-decoration: none;
  font-family: 'Overpass', sans-serif;
}


.content-button.hover {
  color: red;
  border-bottom-style: solid;
  border-bottom: 2px, red;
}

.singe-review-container {
  padding-bottom: 15px;
}

.cgProfileReview {
  font-size: 50px;
  position: absolute;
  margin-left: 20px;
  margin-top: 18px;
}

.cgProfileReview-container {
  margin-left: 5%;
}

.star-index-rating{
  // margin-top: -19px;

}



.cuisine-index {
  padding-left: 6px;
}

.star-show-page{
  font-size: 20px;
}

.review-count{
  padding-top: 6px;
  font-size: 11px;
  padding-left: 5px;
  color: grey;
}

.reservation-showpage-container{
  width: 300px;
  height: 300px;
  background-color: white;
  // margin-left: 58%;
  left: 976px;
  z-index: 10;
  position: absolute;
  // position: fixed;
  font-family: 'Commissioner', sans-serif;
  box-shadow: 0px 0px 2px 2px darkgray;
  margin-top: -107px;
  padding: 8px;
  border-radius: 5px;
}

.restaurant-show-description-items {
  font-size: 15px;
    font-style: italic;
    margin-top: 2px;
    color: rgb(81, 81, 81);
}

.star-other-container {
  display: flex;
  // justify-content: space-between;
}

.restaurant-description {
  font-size: 18px;
  margin-top: auto;
  font-family: 'Jaldi', sans-serif;
  font-weight: lighter;
}

.restaurant-reservation-container {
  display: flex;
}

.reservation-space {
  display: flex;
  width: 100px;
  height: 1000px;
}
