.index-page-search-box {

    height: 425px;
    width: 100%;
    z-index: 1;

    background-image: url(assets/panoramarestsmall.jpeg) {
        object-fit: cover;
    };

 }

 .image-search-box {
     z-index: 100;
 }

 .Find-your-table-search {
    color: white;
    text-align: center;
    padding-top: 60px;
    font-size: 38px;
  }

  .find-table-box {
    display: flex;
    justify-content: center;
  }


.search-bar-input-date {
    cursor: pointer;
    height: 47px; 
    width: 153px; 
    border: 1px solid lightgray;
    font-family: 'Commissioner', sans-serif;
    font-size: 18px;
    padding-left: 25px;
}
.search-bar-input-time {
    cursor: pointer;
    height: 49px; 
    width: 153px; 
    border: 1px solid lightgray;
    font-family: 'Commissioner', sans-serif;
    font-size: 18px;
    padding-left: 25px;
}
.search-bar-people-dropdown{
    cursor: pointer;
    height: 49px;
    width: 153px;
    border: 1px solid lightgray;
    font-family: 'Commissioner', sans-serif;
    font-size: 18px;
    padding-left: 25px;
}

.search-input-searchbar {
    margin-left: 20px;
    cursor: pointer;
    height: 49px;
    width: 200px;
    border: 1px solid lightgray;
    font-family: 'Commissioner', sans-serif;
    font-size: 12px;
    padding-left: 25px;
}

.search-bar-component-container {
    text-align: center;
    // margin-top: -10%;
    // padding-bottom: 150px;
    
}

.search-bar-button {
    margin-left: 10px;
    cursor: pointer;
    height: 49px; 
    width: 153px; 
    border-radius: 5px;
    font-family: 'Commissioner', sans-serif;
    font-size: 18px;
    border: none;
    background-color: rgb(220, 20, 60);
    color: white;
}