.signup-submit {
    // margin-left: 25%;
    margin-left: 21%;
    width: 80%;
    height: 50px;
    margin-bottom: 10px;
    background-color: #da3743;
    color: white;
    font-size: 18px;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;   
    // position: absolute;
    // position: fixed;
}

.signup-form-container {
    z-index: 1;
    display: flex;
    // justify-content: center;
    // margin-top: 50px;
    background-color: white;
    height: 450px;
    width: 400px;
}

.signup-submit-container{



}
.signup-form {
padding-left: 100px;
height: 310px;
width: 225px;
// position: absolute;
}

.signup-input {
    width: 200px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: .05rem solid #d8d9db;
    &:hover, &:focus {
        border: .05rem solid darkgray;
        outline: .05rem solid darkgray;
        transition: 200ms;
    }
}

.signup-errors {
    margin-bottom: -28px;
    margin-top: -5px;
    font-size: 13px;

}

.signup-login-open{
    // margin-left: 175px;
    border-radius: 5px;
    font-family: 'Commissioner', sans-serif;
    font-size: 17px;
    border: none;
    background-color: white;
    color: #da3743;
    padding: 5px;
    cursor: pointer;
}

.already-have {
    margin: 0px;
    margin-left: 85px;
    font-family: 'Commissioner', sans-serif;
}